@font-face {
    font-family: 'Constantia';
    src: url('fonts/constantia.ttf');
    font-family: 'Myriad Pro'
    src: url('fonts/MYRIADPRO-REGULAR.OTF');
}

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: Myriad Pro;
	color: black;
}

/*MENU*/
nav {
	background: #0082e6;
	height: 80px;
	width: 100%;
}

label.logo > img {
	width: 170px;
	height: 48px;
	margin-top: 14px;
	margin-left: 50px;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px; 
}

a.active, a:hover {
	background: #1b9bff;
	transition: .5s;
}

.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	display: none;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
}

#check {
	display: none;
}

/*CARROSSEL*/
.slider {
    display: block;
    height: auto;
    width: 100%;
    margin: auto;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: auto;
    max-width: 100%;
    vertical-align: top;
    opacity: 0;
    visibility: hidden;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/*BARRA MATRICULE-SE*/
.faleingles {
	grid-area: left-top;
	font-size: 2.5rem;
}

.aulaexperimental {
	grid-area: left-bottom;
	font-size: 1.5rem;
}

.btnmatriculese {
	grid-area: right;
	color: white;
	border-radius: 5px;
	padding: 10px 20px;
	font-weight: bolder;
	background-color: #D4312D;
	transition: 0.2s;
	font-size: 3rem;
}

.btnmatriculese:hover {
	text-decoration: none;
	color: #D4312D;
	opacity: 0.8;
	background-color: white;
}

.container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 25% 25% 50%;
	grid-template-areas: 
		"left-top right"
		"left-top right"
		"left-bottom right";
	margin-top: 5vh;
	margin-bottom: 5vh;
	align-items: center;
	justify-items: center;
}

/*ENSINO*/
.ensino {
  width: 800px;
  margin: auto auto 1vh auto;
  background-color: #e8e8e8;
  transition: 0.2s;
}

.ensino h2 {
	text-align: center;
	padding: 1rem;
	font-size: 2rem;
}

.cards {
	display: grid;
	grid-template-columns: 33.33% 33.34% 33.33%;
	grid-template-rows: 50% 50%;
	justify-items: center;
	transition: .2s;
}

.card-white {
	background: white;
	box-shadow: 0 0 16px rgba(0,0,0,0.1);
	border-radius: 4px;
	width: 200px;
	text-align: center;
	padding: 20px;
	margin: 8px;
}

.card-white img {
	width: 180px;
	height: 180px;
	object-fit: cover;
	border-radius: 4px;
	margin-left: -10px;
}

.card-white h4 {
	margin-top: 5px;
	margin-bottom: 0;
}

/*INTERCÂMBIO*/
.intercambio {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/intercambio1.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.intercambio h2 {
  color: white;
  font-size: 45px;
  margin: 0;
}

.intercambio p {
  color: white;
  font-size: 24px;
}

/*FOOTER*/
.contato {
	background-color: #e8e8e8;
}

.contato h2 {
	text-align: center;
	padding-top: 2vh;
	padding-bottom: 1vh;
	font-size: 2rem;
}

.flexcaixa {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.infos-contato {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
}

.infos-contato p {
	padding: 5px;
	font-size: 1.2rem;
}

.infos-contato form input {
	padding: 3px 6px;
	margin: 4px 5px; 
	width: 190px;
}

.infos-contato form label {
	margin-left: 10px;
	font-size: 0.9rem;
}

textarea {
	margin: 4px 5px;
	width: 90%;
	height: 18vh;
	padding: 3px 6px;
	resize: none;
}

.enviar-mensagem {
	width: 90%;
	height: 5vh;
	margin: 0 5px;
	border: none;
	border-radius: 5px;
	background-color: #4CAF50;
}

.enviar-mensagem:hover {
	cursor: pointer;
}

#siga {
	text-align: center;
	margin-top: 1rem;
}

.redes-sociais {
	text-align: center;
}

.redes-sociais li {
	display: inline;
	font-size: 2rem;
	letter-spacing: 1rem;
}

.redes-sociais a:hover {
	color: black;
	background-color: #E8E8E8;
}

#direcoes p {
	padding-left: 1rem;
}

#mapa {
    height:400px;
    width:400px;
    margin-left: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}

@media (max-width: 952px){
	/*MENU*/
	label.logo {
		font-size: 30px;
	}

	#nav-ul {
		z-index: 20;
	}
	
	nav ul li a {
		font-size: 16px;
	}

	/*BARRA MATRICULE-SE*/
	.btnmatriculese {
		font-size: 1.5rem;
	}
	.faleingles {
		font-size: 1.3rem;
	}

	.aulaexperimental {
		font-size: 1rem;
	}

	/*ENSINO*/
	.ensino {
  		width: 700px;
  		transition: 0.2s;
  	}
}

@media (max-width: 800px) {
	/*MENU*/
	.checkbtn{
		display: block;
	}
	
	#nav-ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		top: 80px;
		left: 100%;
		text-align: center;
		transition: all .5s;
		z-index: 20;
	}
	
	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	
	nav ul li a{
		font-size: 20px;
	}

	a:hover, a.active {
		background: none;
		color: #0082e6;
	}

	#check:checked ~ ul {
		left: 0;
	}

	/*ENSINO*/
	.ensino {
  		width: 400px;
  	}

  	.cards {
  		grid-template-columns: 50% 50%;
		grid-template-rows: 33.33% 33.34% 33.33%;
		transition: .2s;
  	}

  	.card-white {
  		width: 190px;
  	}

  	.card-white img {
  		width: 170px;
  		height: 170px;
  	}

  	.card-white h4 {
  		font-size: 0.9rem;
  	}

  	/*INTERCÂMBIO*/
	.intercambio h2 {
		font-size: 30px;
	}

	.intercambio p {
		font-size: 18px;
	}

	/*FOOTER*/
	.infos-contato p {
		font-size: 1rem;
	}	

  	.infos-contato {
  		padding: 1rem;
  	}

  	textarea {
		height: 8vh;
	}

	#mapa {
		height: 250px;
		width: 250px;
	}

}

@media (max-width: 600px) {
	/*FOOTER*/
	#siga {
		font-size: 0.9rem;
	}

	.redes-sociais li {
		font-size: 1.5rem;
	}

	#direcoes p {
		font-size: 0.9rem;
	}

	#mapa {
		height: 300px;
		width: 200px;
	}
}