@font-face {
    font-family: 'Constantia';
    src: url('fonts/constantia.ttf');
    font-family: 'Myriad Pro'
    src: url('fonts/MYRIADPRO-REGULAR.OTF');
}

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: Myriad Pro;
	color: black;
}

/*MENU*/
nav {
	background: #0082e6;
	height: 80px;
	width: 100%;
}

label.logo > img {
	width: 170px;
	height: 48px;
	margin-top: 14px;
	margin-left: 50px;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px; 
	text-transform: lowercase;
}

a.active, a:hover {
	background: #1b9bff;
	transition: .5s;
}

.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	display: none;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
}

#check {
	display: none;
}

/*CARROSSEL*/
.slider {
    display: block;
    height: auto;
    width: 100%;
    margin: auto;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: auto;
    max-width: 100%;
    vertical-align: top;
    opacity: 0;
    visibility: hidden;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/*BARRA MATRICULE-SE*/
.faleingles {
	grid-area: left-top;
	font-size: 2.5rem;
}

.aulaexperimental {
	grid-area: left-bottom;
	font-size: 1.5rem;
}

.btnmatriculese {
	grid-area: right;
	color: white;
	border-radius: 5px;
	padding: 10px 20px;
	font-weight: bolder;
	background-color: #D4312D;
	transition: 0.5s;
	font-size: 3rem;
}

.btnmatriculese:hover {
	text-decoration: none;
	color: #D4312D;
	opacity: 0.8;
}

.container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 25% 25% 50%;
	grid-template-areas: 
		"left-top right"
		"left-top right"
		"left-bottom right";
	margin-top: 5vh;
	align-items: center;
	justify-items: center;
}



@media (max-width: 952px){
	/*MENU*/
	label.logo {
		font-size: 30px;
	}

	#nav-ul {
		z-index: 20;
	}
	
	nav ul li a {
		font-size: 16px;
	}

	/*BARRA MATRICULE-SE*/
	.btnmatriculese {
		font-size: 1.5rem;
	}
	.faleingles {
		font-size: 1.5rem;
	}

	.aulaexperimental {
		font-size: 1rem;
	}
}

@media (max-width: 858px) {
	/*MENU*/
	.checkbtn{
		display: block;
	}
	
	#nav-ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		top: 80px;
		left: 100%;
		text-align: center;
		transition: all .5s;
		z-index: 20;
	}
	
	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	
	nav ul li a{
		font-size: 20px;
	}

	a:hover, a.active {
		background: none;
		color: #0082e6;
	}

	#check:checked ~ ul {
		left: 0;
	}
}